# This workflow handles the daily upkeep of the repo, including checking in new boilerplate for the challenges

name: Generate Active Daily Every Day at 00:00 UTC

on:
  # for testing re-enable
  # workflow_dispatch: ~
  schedule:
  # due to the high volume of requests github has for 00:00 (or every hour)
  # it's very unlikely that this will ever run before leetcode recognizes its a new day
  - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  daily-upkeep:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f pyproject.toml ]; then
        pip install $(python -c '
        import tomllib
        print(" ".join(tomllib.load(open("pyproject.toml", "rb"))["project"]["dependencies"]))
        ')
        else
        echo "Missing pyproject.toml"
        exit 1
        fi
    - name: Generate Active Daily
      run: |
        python -m generate_active_daily
    - name: Generate Solution TOCs
      run: |
        python -m generate_calendar_toc
    - name: Format all .py files with black
      run: |
        black .
    - name: Commit new files
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        git add .
        git commit --author "Joseph Chiocchi <joe@yolk.cc>" -m "Boilerplate for $(date +'%Y%m%d')
        
        $(python -m generate_active_daily --url)
        "
        git push
